{% load static %}
<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>Prediction Website| University of Ibadan | Admissions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta content="Celerate Tech is an AI-based web development agency" name="description" />
        <meta name="author" content="" />
        <meta name="website" content="" />
        <meta name="email" content="" />
        <meta name="version" content="1.2.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- favicon -->
        <link rel="shortcut icon" href={% static "images/favicon.ico" %}/>

        <!-- Css -->
        <link href={% static "libs/tiny-slider/tiny-slider.css" %} rel="stylesheet">
        <!-- Main Css -->
        <link href={% static "libs/@iconscout/unicons/css/line.css" %} type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href={% static "css/icons.css" %} />
        <link rel="stylesheet" href={% static "css/tailwind.css" %} />

    </head>
    
    <body class="font-nunito text-base text-black dark:text-white dark:bg-slate-900">

        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->
        
        <!-- Start Navbar -->
        <nav id="topnav" class="defaultscroll is-sticky">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="index.html">
                    <img src="assets/images/logo-dark.png" class="inline-block dark:hidden" alt="">
                    <img src="assets/images/logo-light.png" class="hidden dark:inline-block" alt="">
                </a>

                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                

                <div id="navigation">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu">
                        <li><a href={% url "index" %} class="sub-menu-item">Home</a></li>
                
                        <li class="has-submenu parent-parent-menu-item">
                            <a href="javascript:void(0)">Aspirants</a><span class="menu-arrow"></span>

                            <ul class="submenu megamenu">
                                
                                <li><a href={% url "aggregate-predictor" %} class="sub-menu-item">Agregate Predictor</a></li>
                                <li><a href={% url "chance-calculator" %} class="sub-menu-item">Chance Calculator</a></li>
                                <li><a href={% url "subject-checker" %} class="sub-menu-item">Sbject Combination Checker</a></li>
                                <li><a href={% url "cutoff-tracker" %} class="sub-menu-item">CutOff Tracker</a></li>
                                
                                   

                                
                            </ul>
                        </li>

                        

                        <li class="has-submenu parent-menu-item">
                            <a href="{% url 'index' %}#faq">FAQs</a>
                            
                        </li>
                
                        
                    </ul><!--end navigation menu-->
                </div><!--end navigation-->
            </div><!--end container-->
        </nav><!--end header-->
        <!-- End Navbar -->

        {% block content %}

        {% endblock content %}

        <div class="container md:mt-24 mt-16">
            <div class="grid md:grid-cols-12 grid-cols-1 items-center">
                <div class="lg:col-span-4 md:col-span-6">
                    <img src={% static "images/envelope.svg" %} class="mx-auto d-block" alt="">
                </div>
                <div class="lg:col-span-8 text-center">
                    <h3 class="md:text-3xl text-2xl md:leading-normal leading-normal font-semibold mb-6">Overcome Admission Resistance</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">You have always wanted to gain admission into University of Ibadan. But admission is difficult! Getting consistent and real-time mentorship shouldn't be. Right access to information and correct preparation can get you there. Get in touch with Olusola to add you to the mentorship class. It is your time to make it happen.</p>

                    <div class="mt-6">
                        <a href="https://wa.me/2348154764285" class="btn bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">Get In Touch</a>
                    </div>
                </div>

                
            </div><!--end gird-->
        </div><!--end container-->

        <!-- Footer Start -->
        <footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">    
           

            <div class="py-[30px] px-0 border-t border-slate-800">
                <div class="container text-center">
                    <div class="grid md:grid-cols-2 items-center">
                        <div class="md:text-left text-center">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> VersityEdge, LLC. Design with <i class="mdi mdi-heart text-red-600"></i> by <a href="https://celeratetech.com" target="_blank" class="text-reset">Celerate Tech Limited</a>.</p>
                        </div>

                        
                    </div><!--end grid-->
                </div><!--end container-->
            </div>
        </footer><!--end footer-->
        <!-- Footer End -->

        <!-- Start Cookie Popup -->
        <div class="cookie-popup fixed max-w-lg bottom-3 right-3 left-3 sm:left-0 sm:right-0 mx-auto bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md py-5 px-6 z-10">
            <p class="text-slate-400">This website uses cookies to provide you with a great user experience. By using it, you accept our <a href="#" target="_blank" class="text-emerald-600 dark:text-emerald-500 font-semibold">use of cookies</a></p>
            <div class="cookie-popup-actions text-right">
                <button class="absolute border-none bg-none p-0 cursor-pointer font-semibold top-2 right-2"><i class="uil uil-times text-dark dark:text-slate-200 text-2xl"></i></button>
            </div>
        </div>
        <!--Note: Cookies Js including in plugins.init.js (path like; assets/js/plugins.init.js) and Cookies css including in _helper.scss (path like; scss/_helper.scss)-->
        <!-- End Cookie Popup -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 right-5 h-9 w-9 text-center bg-indigo-600 text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        <!-- Switcher -->
        <div class="fixed top-1/4 -right-1 z-3">
            <span class="relative inline-block rotate-90">
                <input type="checkbox" class="checkbox opacity-0 absolute" id="chk" />
                <label class="label bg-slate-900 dark:bg-white shadow dark:shadow-gray-800 cursor-pointer rounded-full flex justify-between items-center p-1 w-14 h-8" for="chk">
                    <i class="uil uil-moon text-[20px] text-yellow-500"></i>
                    <i class="uil uil-sun text-[20px] text-yellow-500"></i>
                    <span class="ball bg-white dark:bg-slate-900 rounded-full absolute top-[2px] left-[2px] w-7 h-7"></span>
                </label>
            </span>
        </div>
        <!-- Switcher -->

        <!-- JAVASCRIPTS -->
        <script src={% static "libs/tiny-slider/min/tiny-slider.js" %}></script>
        <script src={% static "libs/feather-icons/feather.min.js" %}></script>
        <script src={% static "js/plugins.init.js" %}></script>
        <script src={% static "js/app.js" %}></script>
        <!-- JAVASCRIPTS -->
    </body>
</html>