{% extends 'base.html' %}
{% load static %}


{% block content %}
      <!-- Start Hero -->
      <section class="relative table w-full py-36 lg:py-44">
        <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
                <div class="md:col-span-7">
                    <div class="md:mr-6">
                        <h4 class="font-semibold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 text-black dark:text-white">Smarter <span class="text-indigo-600">Preparation,<hr></span>Greater Success!<hr> Admission at a go!!</h4>
                        <p class="text-slate-400 text-lg max-w-xl">Join the ranks of ambitious University of Ibadan aspirants who are revolutionizing their admission approach! You'll optimize your study efforts, target areas that matter most, maximize your strengths, address weaknesses, and leave no room for surprises during the entrance exam! </p>
                    
                        <div class="mt-6">
                            <a href="https://bit.ly/VersityEdgeTutorial" class="btn bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md mr-2 mt-2"><i class="uil uil-envelope"></i> Join VersityEdge Online Tutorial Here</a>
                           
                        </div>
                    </div>
                </div><!--end col-->

                <div class="md:col-span-5">
                    <img src={% static "images/momentum.svg" %} alt="">
                </div><!--end col-->
            </div><!--end grid-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End Hero -->

    

    
    {% if ads %}
    <!-- FEATURES START -->
    <section class="relative md:py-24 py-16">
        <div class="container">
            <div class="flex justify-center">
                <div class="features-absolute lg:w-10/12 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md p-6">
                    
                        <img src="assets/images/blog/06.jpg" class="" style="width: 870px; height: 300px;" alt="">
                    
                </div>
            </div>
           
        </div><!--end container-->

        

    </section><!--end section-->
    <!-- End -->
    {% endif %}

    <!-- Start Section-->
    <section class="relative md:py-24 py-16">
        <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                <div class="lg:col-span-8 md:col-span-6">
                    <div class="grid lg:grid-cols-2 grid-cols-1 gap-[30px]">
                        <div class="blog relative rounded-md shadow dark:shadow-gray-800 overflow-hidden">
                            <img src={% static "images/utmetoui2.jpeg" %} alt="">
    
                            <div class="content p-6">
                                <a href="https://bit.ly/utmetoui2" target=”_blank” class="title h5 text-lg font-medium hover:text-indigo-600 duration-500 ease-in-out">Register for UTME TO UI 2.O Webinar</a>
                                <p class="text-slate-400 mt-3">Facing the unknown can be challenging, but UTME TO UI 2.0 is here to provide you with the information.
                                    Join our transformative webinar, where we'll guide you through the correct and effective approach to tackle UI's questions. 
                                </p>
                                
                                
                            </div>
                        </div><!--blog end-->

                        <div class="blog relative rounded-md shadow dark:shadow-gray-800 overflow-hidden">
                            <img src={% static "images/versityedge_tutorial.jpg" %} alt="">
    
                            <div class="content p-6">
                                <a href="https://bit.ly/VersityEdgeTutorial" target=”_blank” class="title h5 text-lg font-medium hover:text-indigo-600 duration-500 ease-in-out">Register for VersityEdge University of Ibadan 2023 Online Post UTME Tutoring Program</a>
                                <p class="text-slate-400 mt-3">We tailor each tutoring session to focus on the specific subjects and topics that matter most for your desired course. Whether it's tackling challenging questions or mastering essential concepts, our tutoring is designed to meet YOUR needs. With our personalized attention and expert guidance, you will have the tools to excel in your Post UTME exams and achieve the target scores required for your course.
                                </p>
                                
                                
                            </div>
                        </div><!--blog end-->

                        {% for service in services %}
                        <div class="blog relative rounded-md shadow dark:shadow-gray-800 overflow-hidden">
                            <a href="{% url service.url %}">

                            
                            <img src={{service.image.url}} alt="">

                            
    
                            <div class="content p-6">
                                <a href={% url service.url %} class="title h5 text-lg font-medium hover:text-indigo-600 duration-500 ease-in-out">{{service.name}}</a>
                                <p class="text-slate-400 mt-3">{{service.text}}</p>
                                
                                
                            </div>
                        </a>
                        </div><!--blog end-->
                        {% endfor %}
    
                        

                        <div class="blog relative rounded-md shadow dark:shadow-gray-800 overflow-hidden">
                            <img src={% static "images/ask_question.jpg" %} alt="">
    
                            <div class="content p-6">
                                <a href="https://wa.me/2348153339994" class="title h5 text-lg font-medium hover:text-indigo-600 duration-500 ease-in-out">WhatsApp Us</a>
                                <p class="text-slate-400 mt-3">Got Questions? We've Got Answers! Your Success is Our Priority. Feel free to share any doubts or thoughts on your mind. No question is too big or small! We're here to listen, understand, and offer personalized solutions tailored to your unique situation.
ahead of you.
                                </p>
                                
                                
                            </div>
                        </div><!--blog end-->

                        
    
                        
                    </div><!--end grid-->
                   
                    <p class="text-slate-400 italic border-x-4 border-indigo-600 rounded-tl-xl rounded-br-xl mt-3 p-3">" {{quote.quote}} - {{quote.author}} "</p>
                </div>

                <div class="lg:col-span-4 md:col-span-6">
                    <div class="sticky top-20">
                        <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow dark:shadow-gray-800 rounded-md p-2 text-center">VersityEdge Tutors</h5>
                        <div class="text-center mt-8">
                            
                            <img src={% static "images/ver_logo.jpg" %} class="h-24 w-24 mx-auto rounded-full shadow mb-4" alt="">

                            <a href="" class="text-lg font-semibold hover:text-indigo-600 transition-all duration-500 ease-in-out">VersityEdge</a>
                            <p class="text-slate-400">Learn from UI Admissions Tutors</p>
                        </div>
                        {% if fact %}
                        <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow dark:shadow-gray-800 rounded-md p-2 text-center mt-8">Facts</h5>

                        {% for fact in fact %}
                        <div class=" items-center mt-8">
                            <p class="text-slate-400 italic border-x-4 border-indigo-600 rounded-tl-xl rounded-br-xl mt-3 p-3">" {{fact}} "</p>
                        {% endfor %}
                       
                        </div>
                        {% endif %}

                        

                        

                        
                        
                        

                        
                    </div>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
        {% if faq %}
        <div class="container md:mt-24 mt-16" id="faq">
            <div class="grid grid-cols-1 pb-8 text-center">
                <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Frequently Asked Questions</h3>

                <p class="text-slate-400 max-w-xl mx-auto">We want you to focus on your exam preparation. We've provided a list of questions other aspirants are asking or you may want to ask. Contact us if we're not able to answer what you have in mind.</p>
            </div><!--end grid-->

            <div class="md:flex justify-center">
                <div class="lg:w-2/3 md:w-full">
                    <div id="accordion-collapse" data-accordion="collapse" class="mt-6">
                        {% for faq in faq %}
                        <div class="relative shadow dark:shadow-gray-800 rounded-md overflow-hidden">
                            <h2 class="text-base font-semibold bg-white dark:bg-slate-900" id="accordion-collapse-heading-{{faq.id}}">
                                <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left" data-accordion-target="#accordion-collapse-body-{{faq.id}}" aria-expanded="true" aria-controls="accordion-collapse-body-1">
                                    <span>{{faq.question}}</span>
                                    <svg data-accordion-icon class="w-4 h-4 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-{{faq.id}}" class="hidden bg-white dark:bg-slate-900" aria-labelledby="accordion-collapse-heading-{{faq.id}}">
                                <div class="p-5">
                                    <p class="text-slate-400 dark:text-gray-400">{{faq.answer}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        

                        
                    </div>
                </div>
            </div>
        </div><!--end container-->
        {% endif %}


        
    

        
    </section><!--end section-->
    <!-- End -->

{% endblock content %}